body, #root {
  background: #dbe7f1;
}

body {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.sort {
  text-align: right;
}

.pointer {
  cursor: pointer;
}

.left {
  float: left;
  max-width: 49%;
  min-width: 49%;
}

.right {
  float: right;
  max-width: 49%;
  min-width: 49%;
}

.submit {
  margin-right: 5px;
}

.align-right {
  text-align: right;
}

.material-icons {
  top: 5px;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }